WORKSHOP_NAME='{{ workshop.NAME }}'
ELASTIC_PROXY=True
OPENAI_API_KEY='{{ workshop.LLM_PROXY_KEY }}'
OPENAI_API_BASE='{{ env.LLM_PROXY_URL }}'
OPENAI_API_ENGINE='{{ env.LLM_ENGINE }}'
ELASTIC_URL='{{ env.ES_DOCS_URL }}'
ELASTIC_APIKEY_ID='{{ workshop.ES_DOCS_APIKEY_ID }}'
ELASTIC_APIKEY_SECRET='{{ workshop.ES_DOCS_APIKEY_SECRET }}'
ELASTIC_INDEX_DOCS='{{ env.ES_DOCS_INDEX }}'
ELASTIC_APM_ENVIRONMENT='{{ workshop.ES_APM_ENVIRONMENT }}'
ELASTIC_APM_SERVER_URL='{{ env.ES_APM_URL }}'
ELASTIC_APM_SECRET_TOKEN='{{ env.ES_APM_SECRET_TOKEN }}'